@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&family=Noto+Sans&display=swap");

/***** Custom Propeties *****/
:root {
  --first-color: #666666;
  --white-color: #fff;
  --btn-color: #5a90bc;
  --font-first: "Noto Sans", sans-serif;
  --font-second: "Montserrat", sans-serif;
  --section-comments-color: #ffedda4c;
}

/* Reset */
html {
  box-sizing: border-box;
  font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  background-color: var(--white-color);
  font-family: var(--font-first);
  font-weight: 400;
}

ol {
  list-style: none;
}

/* ***** Utilities ***** */
.btn {
  border: none;
  color: var(--btn-color);
  font-size: 12px;
  padding: 2px;
  display: inline-block;
  background-color: transparent;
  cursor: pointer;
  margin: 10px 0 0;
  outline: none;
}

.box-shadow-1 {
  box-shadow: 0px 2px 8px #00000029;
}

.container {
  max-width: 770px;
  min-height: 1170px;
  margin: 24px auto;
  border-radius: 5px;

  overflow: hidden;
}

.single-content_title {
  font-family: var(--font-second);
  font-size: 24px;
  color: var(--first-color);
  margin: 1rem 0;
  font-weight: 300;
}

.text-left {
  text-align: left;
}

.margin-comment {
  margin-left: 50px;
}

/***** Header *****/
.portada img {
  width: 100%;
  height: auto;
}

/***** Article *****/
.single {
  max-width: inherit;
  min-height: auto;
}

.single-body {
  margin: 30px;
}

/* Article - Header */
.single-header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.single-header_author-box {
  margin-right: auto;
  margin-top: 2px;
}

.single-header img {
  margin-left: -11px;
}

.single-header svg {
  fill: black;
}

.single-header_author-box p {
  font-family: var(--font-first);
  font-size: 12px;
  color: var(--first-color);
  padding: 2px;
}

.single-content_info {
  font-size: 1rem;
  color: var(--first-color);
}

/* Section Comments */
.section-comments {
  max-width: inherit;
  height: auto;
  background-color: var(--section-comments-color);
}

.section-comments_thread {
  margin: 30px 30px 0px;
  padding: 30px 0;
}

.comments-title {
  font-family: var(--font-second);
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2.2px;
  font-weight: normal;
  margin-bottom: 25px;
  color: #604731;
}

.comment-content {
  margin: 10px 0;
}

/* Form */
.section-comments_form {
  padding: 30px;
  background-color: var(--white-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-comments_form img {
  margin-left: -11px;
}

.comment-form {
  margin: 0 36px 0 25px;
  flex: 0 0 80%;
  border-bottom: thin solid hsla(0, 0%, 40%, 0.4);
}

.comment-input {
  font-family: var(--font-first);
  font-size: 16px;
  color: rgba(102, 102, 102, 1);
  opacity: 0.5;
  background-color: var(--white-color);
  border: none;
  outline: none;
  padding: 5px 0;
  width: 100%;
}

.a {
  fill: #796b6d;
}

.section-comments_form .b {
  fill: rgba(102, 102, 102, 0.5);
}

.single-header .b {
  fill: none;
}
